{% extends "base.html" %}
{% block head_content %}
	<title>Dishes</title>
{% endblock %}
{% block container %}
	<div class="row">
		<div class="col-lg-2 ml-auto mb-3">
			<a href="{% url 'menus:create_dish' %}" class="btn btn-block btn-primary">
				Add new
			</a>
		</div>
		<div class="col-lg-12">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					{% for dish in object_list %}
						<tr>
							<td>{{ dish.description }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}